aiosmtplib
alembic
bcrypt==4.0.1
passlib==1.7.4
email_validator
fastapi
fastapi-mail
Jinja2
psycopg2-binary
pydantic
PyJWT
python-dotenv
python-jose
python-multipart
SQLAlchemy
uvicorn
authlib
itsdangerous
requests
aioboto3
filetype